@font-face {
  font-family: 'Lato';
  src: url('../../assets/fonts/Lato-Regular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../../assets/fonts/Lato-Bold.woff') format('woff');
  font-weight: bold;
}