// Imports

@import 'base/fonts';
@import 'base/variables';

// Base

html {
  height: 100%;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
              url('../../assets/images/apple_pie.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.main {
  color: $text-color;
  font-family: $font-family;
}

// Header

.header {
  height: $header-height;
  background-color: $header-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-text {
  text-align: center;

  h1 {
    font-size: $heading-font-size;
    margin-bottom: 22px;
  }

  h2 {
    font-size: $primary-font-size;
    font-weight: normal;
    letter-spacing: 2px;
    margin-top: 0;
  }
}

// Orders

.orders-container {
  display: flex;
  flex-wrap: wrap;
  padding: $order-vertical-spacing $order-horizontal-spacing;
  position: relative;
}

.order {
  height: $order-height;
  width: $order-width;
  border: $border-width solid $border-color;
  border-radius: $border-width * 2;
  background-color: $order-background-color;
  margin: $order-vertical-spacing $order-horizontal-spacing;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $number-font-size;
}

// Message

.message {
  font-size: $primary-font-size;
  text-align: center;
  position: absolute;
  bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
